/*****BASESTYLES*****/

body {
    font-family: 'Montserrat Regular', 'Montserrat Bold' 'Source Sans Pro Semibold' sans-serif, monospace;
    margin: 0 auto;
}

header {
    height: 800px;
   
}

#work {
    height: 1550px;
    
}

#about {
    height: 550px;
}

#contact {
    height: 400px;
}

/*****CONTAINER*****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

header {
    background-image: url(../img/hero-background.png);
    margin: 0 auto;
    background-size: cover;
}

#top-section {
    background-color: black;
    color: white;
    height: 50px;   
}

#top-section .full-width {
    width: 1400px;
}

#top-section .half-width {
    width: 700px;
    
}
 .half-width h1 {
    font-family: 'Montserrat regular', sans-serif;
    font-size: 20pt;
    padding: 0px 0px 20px 50px;
    margin-bottom: 10px;
}

.half-width nav {
    float: right;
}

.half-width nav ul li{
    display: inline-block;
}

.half-width nav ul li a {
    color: #ffffff;
    font-size: 18pt;
    font-family: 'Source Code Pro Semibold', monospace;
    list-style-type: none;
    margin: 0px 5px 15px 0px;
    padding-right: 45px;
    text-align: center;
    text-decoration: none; 

}

.half-width nav ul li a:hover {
    border-radius: 5px;
    color: #fa0075;

}

#bottom-section h2 {
    color: #ffffff;
    font-family: 'Source Code Pro Semibold', monospace;
    font-size: 72pt;
    padding-left: 70px;
    padding-top: 150px;
    
}

#bottom-section h2 span {
    color: #fa0075;
}

/*****WORK*****/

#work {
    background-color: #1f202b;
    margin: 0 auto;
}

#work .full-width {
    clear: both;  
    width: 1200px;
    }

#work h3 {
    color: #fa0075;
    font-size: 36px;
    font-family: 'Source Code Pro Semibold', monospace;
    margin-top: 0;
    padding: 40px 0 30px 0;
    text-align: center;    
}

#work .half-width {
        background-color: #1f202b;
        height: 400px;
        padding-bottom: 40px;
        width: 600px;
        }

#work .half-width img {
    padding: 50px 50px 50px 100px;
    width: 500px;
}


#work .half-width h3 {
    color: #ffffff;
    float: left;
    font-family: 'montserrat bold', sans-serif;
    font-size: 24px;
    margin-bottom: -15px;
    padding: 50px 0px 0px 100px;
    width: 500px;
    text-align: left;
}

#work p {
    color: #ffffff;
    float: left;
    font-family: 'montserrat regular', sans-serif;
    font-size: 20px;
    padding: 0px 50px 50px 100px;
    width: 500px;
    
  }
/*****ABOUT*****/

  #about {
      background-image: url(../img/about-me.png);
      margin: 0 auto;
  }

  #about .full-width {
      width: 1200px;
      height: 550px;
  }

  h4 {
      color: #fa0075;
      font-family: 'Source Code Pro Semibold', monospace;
      font-size: 36px;
      margin-top: 0px;
      padding: 40px;
      text-align: center;
  }

  h5 {
        color: #1f202b;  
        font-family: 'Montserrat bold', sans-serif;
        font-size: 22px;
        padding: 0px;
        text-align: left;
  }

  p {
      color: #1f202b;
      font-family: 'Montserrat Regular', sans-serif;
      font-size: 22px;
      padding: 0px;
      text-align: justify;
      width: 600px;
  }

  /*****CONTACT*****/

  #contact {
    background-color: #1f202b;
    margin: 0 auto;
    }

#contact .full-width {
    height: 400px;
    margin: 0 auto;
    width: 1200px;
}

.full-width h6 {
    color: #fa0075;
    font-family: 'Source Code Pro Semibold', monospace;
    font-size: 36px;
    margin: 0px 1px 0px 1px;
    padding-top: 50px;
    text-align: center;
}

.third-width  {
    width: 400px;
}

.third-width h6 {
    color: white;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
}

.third-width p {
    color: white;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 20px; 
    text-align: center;

}

.third-width a {
    color: #ffffff;
    text-decoration: none;
}

.third-width a:hover {
    border-radius: 5px;
    color: #fa0075;
}

.third-width ul {
    display: inline;
    list-style: none;
    padding: 5px 0px 0px 0px;
    text-align: center;
}


.third-width ul li a {
    
    float: left;
    padding: 30px 10px 10px 50px;
   }


/*****FOOTER*****/

.footer p {
    background-color: #1f202b;
    color: #ffffff;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;  
    width: 1400px; 
}